.more {
  font-size: 30px;
  margin: 12px 18px;
  color: #991809;
}

.less {
  font-size: 30px;
  margin: 12px 18px;
  color: #302a53;
}

.same {
  font-size: 30px;
  margin: 12px 18px;
  color: #753223;
}
