:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #6d2c21;
    background-color: #ffffff;
  }
}
